@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  padding-left: 1em;
  padding-right: 1.3em;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces button.active {
  color: #8b0000; /* Blood red for active pentagram */
  background-color: @background-alt;
  border-radius: 3px;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {
  background-color: @background-alt;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
  margin-right: 0.8em;
}
#custom-power {
  opacity: 1;
  color: @module-fg;
  padding: 0 4px;
}
#custom-power {
  color: @foreground;
  background: @background-alt;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 2px 4px 2px 0;
  padding: 0 6px 0 9px;
}

#custom-power:hover {
  color: @foreground;
  background: @background;
  text-shadow: none;
  box-shadow: none;
}
#custom-power {
  border-radius: 10px;
  padding: 0 6px 0 9px;
}
